  <nav class="navbar">
    <link rel="stylesheet" href="css/styles.css" />
        <a class="shimmer-text" href="/"><em>CodeArch</em></a>
        <% if (user) { %>
          <a href="/dashboard" class="btn":hover>Dashboard</a>
          <a href="/vip-lounge" class="btn":hover>VIP Lounge</a>
          <a href="/auth/sign-out" class="btn":hover>Sign Out</a>
          <!-- Enhanced Dynamic Gold Line Section -->
        <% } else { %>
          <a href="/auth/sign-up" class="btn":hover><em>Sign Up</em></a>
          <a href="/auth/sign-in" class="btn":hover><em>Sign In</em></a>
        <% } %>
    </ul>
</nav>
