<!DOCTYPE html> 
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css" />
    <title>Welcome to CodeArch!</title>
  </head>
  <body>
    <div class="container">
      <% if (user) { %>
        <div class="header"></div>
          <h1 class="welcome">Welcome to <em>CodeArch</em>, <%= user.username %>!</h1>
          <nav class="nav-links">
            <a href="/auth/sign-out" class="btn">Sign out</a>
          </nav>
        </div>
      <% } else { %>
        <div class="header"></div>
          <h1 class="welcome">Welcome To <em>CodeArch</em></h1>
          <nav class="nav-links">
            <a href="/auth/sign-up" class="btn">Sign Up</a>
            <a href="/auth/sign-in" class="btn">Sign In</a>
          </nav>
        </div>
      <% } %>
      <div class="content">
        <a href="/vip-lounge" class="vip-link">Get into the VIP Users Only lounge!</a>
      </div>
    </div>
  </body>
</html>
